.card {
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.info {
  width: 23vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  padding: 1rem;
  /* box-shadow: 0 0 4px; */
  background-color: rgb(133, 129, 81);
}
.info:nth-child(odd) {
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 0 4px;
}

.info > img {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
}
.info > a {
  text-decoration: none;
  color: white;
  background-color: rgb(14, 11, 11);
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  transition: 0.7s ease-in-out;
  border-radius: 0.25rem;
}
.info > a:hover {
  opacity: 0.8;
  /* background-color: yellowgreen; */
  color: red;
}

.info > h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(70, 2, 2);
  text-transform: capitalize;
}
h1 {
  background-color: rgb(175, 30, 79);
  color: white;
  font-weight: bold;
  padding: 1.5rem 2.5rem;
  max-width: 80vw;
  margin: 1rem auto;
  box-shadow: 0 0 8px black;
  text-align: right;
}
