* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1%; */
  margin: 1.5%;
}

.navbar {
  width: 100%;
  height: 90px;
  box-shadow: 1px 0px 10px rgb(116, 107, 91);
  padding: 2%;

}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.navbar ul li {
  padding: 0px 25px;
  margin-top: -2%;

}

.navbar ul li a {
  font-size: 22px;
  color: rgb(88, 81, 81);
  text-decoration: none;
  font-weight: bold;
}




.aside {
  align-items: stretch;
  width: 25%;
  height: 70vh;
  box-shadow: 1px 0px 10px rgb(116, 107, 91);
  margin-top: 1.5%;
  padding: 2%;

}

.aside h4 {
  color: gray;
  font-size: 22px;
}

.main {
  width: 74%;
  display: flex;
  flex-direction: column;

}

.sidebar {
  width: 100%;
  height: 30vh;
  margin: 2% 1%;
  box-shadow: 1px 0px 10px rgb(116, 107, 91);
  /* float:k right; */
  padding: 2.5%;

}

.sidebar h2 {
  font-size: 30px;
  padding: 10px;
}

.sidebar p {
  color: grey;
  padding: 10px;
  /* font-weight: bold; */
  text-align: justify;
}

.date {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  color: rgb(126, 117, 117);
  margin-top: -20px;
}

.read {
  display: flex;
  justify-content: flex-end;

}

.read a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(55, 209, 41);

}


.footer {
  display: flex;
  width: 100%;
  height: 250px;
  background-color: rgb(46, 36, 36);
  padding: 2%;
  margin-top: 0.5%;

}


.item2 {
  width: 32%;
  float: left;
  color: white;
}

.item2 li {
  list-style: none;
  margin: 10px 0;
}


.item2 a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.item2 button {
  background-color: rgb(13, 182, 159);
  margin-top: 10px;
  padding: 5px 20px;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.item2 button:hover {
  background-color: rgb(198, 218, 26);
  color: rgb(0, 0, 0);

}

.item2 input {

  background-color: rgb(53, 48, 48);
  font-size: 20px;
  color: white;
  padding: 8px 2px;
  font-weight: bold;
}