@import 'style';

body.luxury {

    h1,
    h2,
    h3 {
        color: $default-lux-color;
    }

    form button {
        background-color: $default-lux-color;
    }

    footer .footer_info {
        background-color: $footer-lux-color;
    }
}

#lux-main {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        background: linear-gradient(to right, white 35%, rgba(255, 255, 255, 0) 45%), no-repeat right/cover url('../image/Fashion\ \(2\).jpg');
        z-index: -2;
        transform: scaleX(-1);
    }

    aside {
        position: relative;
        width: 35%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;

        .logo {
            text-align: right;
            margin: 2.5rem 1rem 0 0;
            position: relative;

            img {
                width: 150px;
            }

            &::after {
                content: 'FASHION';
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translateY(100%);
            }
        }

        .aside-title {
            text-transform: uppercase;

            .img-title {
                width: 200px;
            }
        }


        form {
            display: flex;
            flex-direction: column;
            width: 60%;
            margin: 20% auto;


            input {
                outline: none;
                border: none;
                padding: .65rem;
                margin: .25rem 0;
                background-color: rgb(167, 167, 172);
            }

            ::placeholder {
                color: #444;
            }

            button {
                padding: .65rem;
                color: $light-color;
                font-weight: bold;
                border: none;
                cursor: pointer;
                transition: .6s;

            }

            button:hover {
                color: $dark-color;
                background-color: $gold-color;


            }
        }
    }
}

// Styling Lux-image -gallery
#lux-image-gallery {
    width: 80%;
    margin: 0 auto;

    & h2 {
        width: 80%;
        margin: 0 auto;
        font-size: 1.5rem;
        padding-top: 1.5rem;
        text-align: center;
        text-transform: uppercase;

        .header-subtitle {
            font-weight: normal;
        }
    }

    & p {
        width: 80%;
        margin: 0 auto;
        padding: 1.5rem 0;
        text-align: center;
        font-size: 1.3rem;


        em {
            font-weight: bold;
            font-style: normal;
        }

    }

    & .images {
        display: flex;
        justify-content: space-around;

        img {
            width: 320px;
            height: 300px;
            border-radius: .5rem;
            cursor: pointer;
        }

        img:last-child {
            transform: scaleX(-1);
        }

        img:hover {
            background-color: #fff;
            opacity: .6;
            transition: 1s;
        }

    }


}