table {
  width: 80vw;
  margin: 2rem auto;
}
th {
  padding: 1rem 2rem;
  text-align: center;
  background-color: rgb(65, 1, 1);
  color: white;
}
td {
  padding: 2rem 1rem;
  text-align: center;
  transition: 0.7s;
  margin: 0.5rem 0;
}
td:nth-child(6),
td:nth-child(7) {
  color: red;
}
td:hover {
  background-color: yellow;
  border-radius: 0.25rem;
}
