form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 2rem;
  background-color: rgb(92, 74, 5);
}
input {
  padding: 0.75rem 1rem;
  margin: 0.7rem 0;
  border-radius: 0.35rem;
  outline: none;
}
::placeholder,
h2,
textarea {
  text-align: center;
  outline: none;
}
input[type="button"] {
  color: yellow;
  background-color: tomato;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
input[type="button"]:hover {
  color: red;
  background-color: black;
}
