* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

/* @font-face {
  font-family: 'fa-regular';
  src: url('fonts/fa-regular-400.woff')format('woff');

} */

/* starting styling Header & navbar */

.navbar {
  /* position: fixed; */
  display: flex;
  width: 100%;
  /* height: 15%; */
}

.item {
  background: black;
  padding: 1rem;
}

.left {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  color: beige;
  padding-left: 9rem;
}

.left img,
select {
  margin-top: -7px;
}

.left p,
img {
  padding: 0 0.75rem;
  margin-left: 0.75rem;
}

.left select {
  background-color: black;
  color: beige;
  border: none;
  cursor: pointer;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.right li a {
  list-style: none;
  text-decoration: none;
  color: beige;
  padding: 0 1.3rem;
  font-size: 12px;
  font-family: "fa-regular";
}

.navbar1 {
  /* position: fixed; */
  width: 100%;
  display: flex;
  height: 75px;
}

.item1 {
  padding: 1rem;
}

.navbar1 .logo {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem;
}

.logo img {
  padding: 0 2rem;
}

.nav-mid {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav-mid li a {
  text-decoration: none;
  padding: 0 1rem;
  color: black;
  font-size: 16px;
}

.navbar1 .nav-right {
  width: 35%;
  display: flex;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

.nav-right input {
  padding: 0 0.5rem;
  border-radius: 10vw;
  width: 12rem;
  height: 2rem;
  border: 1px solid rgb(199, 197, 192);
}

.nav-right input + i {
  position: absolute;
  left: 78%;
  font-size: 1rem;
  color: rgb(78, 76, 76);
  /* opacity: 0.5; */
}

.nav-right i {
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
}

.button_nav1 {
  padding: 0px 25px;
  background-color: blue;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  border: none;
}

/* starting styling Home section  */
#home {
  background-image: url(./img/hero/h1_hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.container {
  display: flex;
}

.container .img1 {
  width: 50%;
}

.container .img1 img {
  height: 600px;
}

.container .info {
  width: 50%;
  /* justify-content: center;
  align-items: center; */
  margin-top: 10rem;
}
.info > h4 {
  font-size: 25px;
  color: blue;
}
.info h1 {
  margin-top: 1rem;
  font-size: 60px;
  font-weight: bold;
}

.info button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* starting styling Category section  */

#category h1 {
  text-align: center;
  margin: 10rem 0 20px 0;
  font-weight: bolder;
  font-size: 40px;
}

.shop {
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
}

.shop .item {
  margin: 30px 1rem 10rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2.5rem;
  height: 250px;
}

.shop_left {
  background-image: url(./img/categories/cat1.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.shop_center {
  background-image: url(./img/categories/cat2.jpg);
  background-repeat: no-repeat;
  width: 100%;
}

.shop_right {
  background-image: url(./img/categories/cat3.jpg);
  background-repeat: no-repeat;
  width: 100%;
}
.shop_left h3,
.shop_center h3,
.shop_right h3 {
  color: rgb(42, 42, 235);
}
.shop_left h3,
.shop_right h3 {
  margin-top: -0.5rem;
}

.item button {
  padding: 7px 20px;
  background-color: yellow;
  border-radius: 20px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.shop_center > h2 {
  margin: 10px 0;
  font-size: 28px;
}

/* starting styling Latest section  */

#latest {
  width: 60%;
  margin: 8rem auto;
}

.l_head {
  display: flex;
}

.l_head h1 {
  width: 40%;
  /* justify-content: flex-start; */
  align-items: center;
  font-size: 40px;
}

.l_head ul {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.l_head ul a {
  text-decoration: none;
  padding: 0 0.5rem;
  color: black;
}

.main_product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.l_product {
  margin-top: 2rem;
  width: 30%;
}

.l_product p,
h5 {
  text-align: center;
  padding: 10px 0;
}

h5 {
  color: yellow;
}

strong {
  color: black;
}

.price {
  color: red;
  text-decoration-line: line-through;
}

.l_product img {
  width: 100%;
  height: 300px;
}

/* stating styling blog section  */
#blog {
  margin-top: 1rem;
}

.blog_main {
  background-image: url(./img/categories/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  /* height: 500px; */
  margin: 0 auto;
  display: flex;
  /* padding: 5rem; */
}

.card-man {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.card-man img {
  margin-top: -5rem;
  height: 450px;
}

.card-info {
  width: 50%;
  display: inline-block;
  padding: 2rem;
}

.card-info h1 {
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.card-info button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 2.5rem;
  cursor: pointer;
}

.card-shape {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3rem;
}

/* starting styling Page Section */
#pages {
  width: 65%;
  margin: 13rem auto;
}

.main-page {
  display: flex;
  padding: 2rem;
}

.page-left {
  width: 40%;
  padding: 1rem;
}

.page-left h1 {
  font-size: 35px;
  margin-bottom: 1rem;
}

.page-left button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin: 3.5rem 0 5.5rem 0;
  cursor: pointer;
}

.page-center {
  width: 20%;
}

.page-center img {
  height: 550px;
  margin-top: -4.5rem;
}

.page-right {
  /* display: block; */
  width: 35%;
  margin-left: 6rem;
  text-align: end;
}

.page-right p {
  margin: 5.5rem 0;
}

.page-right button {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.page-right1 {
  width: 10%;
}

.page-right1 img {
  margin: 0.5rem 0;
}

/* Styling Contact section*/

#contact {
}

.main-contact {
  width: 90%;
  margin: 0 auto;
  background-image: url(./img/collection/latest-offer.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.main_img {
  width: 20%;
}

.contact_info {
  width: 30%;
  display: block;

  margin: 10rem 0 0-10rem;
}

.contact_info h2 {
  font-size: 35px;
}

.contact_button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact_button input {
  padding: 10px 50px 10px 20px;
  border-radius: 20px;
  border: none;
  margin-left: -2rem;
}

.contact_button button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 20px;
  border: none;
  margin-left: -3rem;
  cursor: pointer;
}

.main_info {
  width: 65%;
  margin: 10rem auto;
  display: flex;
  justify-content: space-between;
}

.item_info {
  margin: 0 2rem;
}

.item_main h4,
p,
i {
  padding: 8px 0;
}

.item_main p {
  color: gray;
}

.item_main i {
  font-size: 28px;
}

.photo_gallery {
  width: 90%;
  margin: 10rem auto;
  display: flex;
  justify-content: flex-start;
}

.photo_gallery img {
  width: 20%;
  padding: 0px;
  margin: 0px;
}

/* styling main footer */
.footer_main {
  width: 65%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.footer_main h3,
p,
img {
  padding: 8px 0;
}
.footer_main img {
  margin-left: -0.25rem;
}

.quick_links > h3 {
  margin-bottom: 1rem;
}
.quick_links ul li {
  list-style: none;
  margin-bottom: 1rem;
}

.quick_links ul li a {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.footer_main p {
  color: gray;
}

.footer_last {
  width: 65%;
  margin: 5rem auto;
  display: flex;
}

.foot1 {
  width: 70%;
  justify-content: flex-start;
  color: gray;
}

.footer_last .foot_icon {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  cursor: pointer;
}
.foot_icon i {
  padding: 0 0.2rem;
}
