* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
}

body {
    background: url(./form.jpg);
    background-size: ;
    background-repeat: no-repeat;
    background-position: center;
}

.signup {
    width: 42%;
    margin: 10% auto;
    position: relative;
    background-color: #fff;
    border-radius: .75rem;
}

h2 {
    text-align: center;
    padding-top: 1rem;
}

form {
    padding: 2rem 4.5rem;
}



input {
    padding: .75rem;
    margin: .5rem;
    outline: none;
    border: none;
    border: 1px rgb(53, 6, 1) solid;
    */
}

::placeholder {
    text-align: center;
    color: rgb(3, 0, 0);

}

#firstName,
#lastName,
#email,
#password,
#confirmPassword {
    width: 100%;
    /* background-color: rgb(160, 77, 17); */
    color: rgb(0, 0, 0);
}



button {
    padding: .5rem 1rem;
    width: 100%;
    cursor: pointer;
    border-radius: .5rem;
    border: none;
    background-color: rgb(80, 4, 4);
    color: #fff;
    margin: .5rem;
    font-size: 1.1rem;
    font-weight: 900;
    outline: none;

}

button:hover {
    background-color: yellowgreen;
    color: black;
    transition: .6s;
}

#showResult {
    width: 20%;
    position: absolute;
    margin: 2rem auto;
    right: 2rem;
    top: 0;
    padding: 2rem;
}


@media only screen and (max-width: 600px) {
    .signup {
        width: 92%;
    }

    h2 {

        font-size: 1.1rem;
    }

    form {
        padding: 2rem 1.5rem;
    }

    #showResult {
        width: 40%;
        /* position: absolute; */
        margin: 2rem auto;
        padding: 2rem;
    }


}

@media only screen and (min-width: 601px) and (max-width: 790px) {
    .signup {
        width: 60%;
        margin: 2rem auto;

    }

    form {
        padding: 2rem 1.5rem;
    }

    #showResult {
        background-color: #4a920f;
        width: 45%;
        position: absolute;
        margin: 2rem auto;
        right: 2rem;
        top: 0;
        padding: 1rem;
    }

}