header {
    max-width: 600px;

}

div.main {
    max-width: 600px;

}

input#firstNumber {
    grid-area: input1;
    margin: 1rem 3rem;
}

input#secondNumber {
    grid-area: input2;
    margin: 1rem 3rem;
}

div.main>input {
    font-size: 0.75rem;
    width: 8rem;
    height: 4rem;

}

button.btn1,
button.btn2,
button.btn3,
button.btn4 {
    margin: auto;
    width: 6rem;
    height: 6rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}