$primary-color:#75aca4;
$secondary-color:#f4f4f4;
$dark-color:#333;
$font-stack:#fff;


* {
  margin: 0;
  padding: 0;
}

.Container {
  margin: 10rem auto;
  width: 25%;
  background-color: $primary-color;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem;

  h1 {
    background-color: $secondary-color;
    padding: 1.5rem;
    text-align: center;
  }

  h3 {
    background-color: $dark-color;
    padding: 1rem;
    text-align: center;
    color: $font-stack;
  }

  input {
    text-align: center;
    padding: .75rem .25rem;
    margin: .5rem 0;
    width: 96%;
  }

  .button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;

    button {
      padding: .75rem 0;
      cursor: pointer;
      border-radius: .5rem;
      color: $dark-color;
      font-weight: bold;
    }

  }

}

@media screen and (max-width: 430px) {
  .Container {
    margin: 2rem auto;
    width: 90%;
    background-color: $primary-color;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem;

    h1 {
      background-color: $secondary-color;
      padding: 1.5rem;
      font-size: 1.5rem;

    }

  }


}