#card {
  width: 40vw;
  margin: 2rem auto;
  /* background-color: black; */
  padding: 2rem;
  box-shadow: 0 0 10px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

span {
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  text-align: center;
  background-color: rgb(94, 80, 2);
  padding: 1rem;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 1px 6px;
}
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  padding: 0.75rem 1rem;
  width: 20vw;
  margin: 0.35rem 0;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.35rem;
  transition: 0.6s ease-in-out;
}
button:hover {
  opacity: 0.8;
  color: red;
  background-color: black;
}
