* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

/* styling page1 here  */
#page-1 {
    margin: 0 auto;
    background-color: rgb(35, 66, 204);

}

.page {
    padding: 17% 5%;
    text-align: center;
    /* overflow: hidden; */
}

#page-1>h1 {

    font-size: 4.5rem;
    color: white;
}

#page-1>p {
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

.page>div {
    margin-bottom: 4rem;
}

.btn {
    background-color: rgb(255, 255, 255);
    font-size: 1.2rem;
    color: rgb(2, 1, 1);
    padding: .8rem;
    text-decoration: none;
    margin-left: .5rem;
    border-radius: .25rem;


}

.btn:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: all 0.5s ease-in;
}

/* styling page2 here  */
#page-2 {

    background-color: rgb(184, 139, 99);

}

#page-2>h1 {

    font-size: 4.5rem;
    color: white;
}

#page-2>p {
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

/* styling page3 here  */
#page-3 {

    background-color: rgb(48, 141, 132);

}

#page-3>h1 {

    font-size: 4.5rem;
    color: white;
}

#page-3>p {
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

/* styling page3 here  */
#page-4 {

    background-color: purple;

}

#page-4>h1 {

    font-size: 4.5rem;
    color: white;
}

#page-4>p {
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}

@media screen and (max-width:425px) {


    #page-1>h1 {
        font-size: 2rem;
        padding: 1rem 1rem;
    }

    #page-1>p {
        font-size: 1rem;
        padding: 4rem 1rem 1.5rem 1rem;
        text-align: justify;

    }

    .btn {
        background-color: rgb(255, 255, 255);
        font-size: 1rem;

    }

    #page-2>h1 {
        font-size: 2rem;
        padding: 2rem 1rem;
    }


    #page-2>p {
        font-size: 1rem;
        padding: 2rem 1rem 4rem 1rem;
        text-align: justify;

    }

    #page-3>h1 {
        font-size: 2.5rem;
        padding: 2rem 1rem;
    }

    #page-3>p {
        font-size: 1rem;
        padding: 2rem 1rem 5.5rem 1rem;
        text-align: justify;

    }

    #page-4>h1 {
        font-size: 2.5rem;
        padding: 2rem 1rem;
    }

    #page-4>p {
        font-size: 1rem;
        padding: 2rem 1rem 5.5rem 1rem;
        text-align: justify;

    }
}


@media screen and (min-width:426px) and (max-width:768px) {


    #page-1>h1 {
        font-size: 3rem;
        padding: 1rem 1rem 0rem 1rem;
    }

    #page-1>p {
        font-size: 1.5rem;
        padding: 4rem 1rem 0rem 1rem;
        text-align: justify;

    }

    .btn {
        background-color: rgb(255, 255, 255);
        font-size: 1rem;

    }

    #page-2>h1 {
        font-size: 3rem;
        padding: 1rem 1rem;
    }

    #page-2>p {
        font-size: 1.5rem;
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;

    }

    #page-3>h1 {
        font-size: 3rem;
        padding: 1rem 1rem;
    }

    #page-3>p {
        font-size: 1.5rem;
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;

    }

    #page-4>h1 {
        font-size: 3rem;
        padding: 2rem 1rem;
    }

    #page-4>p {
        font-size: 1rem;
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;

    }
}

@media screen and (min-width:769px) and (max-width:1024px) {


    #page-1>h1 {
        font-size: 3.5rem;
        padding: 1rem 1rem 0rem 1rem;
    }

    #page-1>p {
        font-size: 2rem;
        padding: 4rem 1rem 2rem 1rem;
        text-align: justify;

    }

    .btn {
        background-color: rgb(255, 255, 255);
        font-size: 1rem;

    }

    #page-2>h1 {
        font-size: 3.5rem;
        padding: 1rem 1rem;
    }

    #page-2>p {
        font-size: 2rem;
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;

    }

    #page-3>h1 {
        font-size: 3.5rem;
        padding: 1rem 1rem;
    }

    #page-3>p {
        font-size: 2rem;
        padding: 2rem 1rem 3rem 1rem;
        text-align: justify;

    }

    #page-4>h1 {
        font-size: 3.5rem;
        padding: 2rem 1rem;
    }

    #page-4>p {
        font-size: 2rem;
        padding: 1rem 1rem 3rem 1rem;
        text-align: justify;

    }

    .btn {
        background-color: rgb(255, 255, 255);
        font-size: 1.5rem;
        color: rgb(2, 1, 1);
        padding: .8rem;
        text-decoration: none;
        margin-left: .5rem;


    }

}