$light-color:#fff;
$input-color:lightgrey;
$gold-color:gold;
$dark-color:black;
$dark-color-o: rgba(0, 0, 0, 0.6);
$font-color:grey;
$button-bg_color:rgb(228, 170, 62);
$footer_color:rgba(228, 170, 62, 0.8);
$default-lux-color:rgb(37, 37, 90);
$footer-lux-color: rgba(37, 37, 90, 0.8);

$default-text-color: #333;

$mobile:425px;
$tablet:780px;