$light-color:#fff;
$input-color:lightgrey;
$gold-color:gold;
$dark-color:black;
$dark-color-o: rgba(0, 0, 0, 0.6);
$font-color:grey;
$button-bg_color:rgb(228, 170, 62);
$footer_color:rgb(226, 158, 32);
$footer_blue_color:rgb(78, 78, 121);